<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.sparklabinc.mapper.UserInfoMapper">
    <select id="findByUserName" parameterType="string" resultType="ai.sparklabinc.entity.UserInfoDO">
        select *  from user_info t where t.name like '%'||#{name,jdbcType=VARCHAR}||'%'
    </select>





</mapper>